body {
    background-color: beige;
}

.caja {
    width: 120px;
    height: 120px;
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /* comentar align-items: baseline; */
    line-height: 120px;
    text-align: center;
    margin: 5px;

}


/* align-items: baseline; */
/* .elemento1 { font-size: 16px; }
.elemento2 { font-size: 24px; }
.elemento3 { font-size: 12px; }
.elemento4 { font-size: 20px; } */


.flex-container {
    border: 1px solid black;
    background: #ccc;
    height: 300px;
    display: flex;
    gap: 40px;
    /* ALINEACIONES */
    justify-content: center;
    /* align-content se usa solo cuando hay varias filas en un contenedor flex con flex-wrap: wrap */
    /* flex-wrap: wrap; */
    /* align-content: flex-start; */
    align-items: center;


}
.elemento3{
    /* align-self sobrescribe el align-items solo para un ítem específico */
    align-self: flex-end;
}

/* PRIMERA PARTE */

/* .elemento1{
    flex-grow: 3;
    flex-basis: 200px;
}
.elemento2{
    flex-basis: 200px;

}
.elemento3{
    flex-grow: 1;
    flex-shrink: 2;
}

.elemento4{
    flex-basis: 200px;
} */
